<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Login</title>
</head>
<body>
    <header>
        <nav>
            
            
        </nav>
    </header>
    
    <main class="login">
        <section class="login__conteudo">
            <div class="login__cabecalho">
                <img src="assets/icones-login/icone-login.png" alt="icone-login" height="100px" width="500px">
                
            </div>
            
            <section class="login__conteudo__campos">

                <div class="login__campo">
                    <img src="assets/icones-login/icone-name.png" alt="icone-name" height="30" width="30">
                <input class="login__campo__input" type="text"  >
            
                </div>
        
                <div class="login__campo">
                    <img src="assets/icones-login/icone-senha.png" alt="icone-senha" height="30" width="30">
                    <input class="login__campo__input" type="text" >
        
                </div>
                <div class="login__botao">
                    <button type="submit" class="login__botao__style" style="" >Logar</button>
                    <img src="assets/icones-login/icone-botao.png" alt="icone-botao">

                </div>
            </section>
                
            
            

        </section>
    </main>
    <footer></footer>
</body>
</html>